/project/.venv
__pycache__/
*.pyc
*.pyo
*.pyd
project/data/HAM10000_images_part_1/
project/data/HAM10000_images_part_2/
.git/
.vscode/
.idea/
build/
dist/
wheels/
*.egg-info
.python-version
*sweep*
uv.lock
wandb/
wandb_plots/
get_wandb_logs.py
test*.py
notebooks/